.card {
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(196, 26, 26, 0.1);
  background-color: #e1f5fe;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
}

.card h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
}